# Copyright © 2025 GUIHO Technologies as represented by Cristóvão GUIHO
# All Rights Reserved.

# gcloud artifacts print-settings npm --scope=@guiho40 --repository guiho40 --location europe-west4
@guiho40:registry=https://europe-west4-npm.pkg.dev/guiho40/guiho40/
//europe-west4-npm.pkg.dev/guiho40/guiho40/:always-auth=true
